
/* NavBar Style */
a {
  text-decoration: none;
  color: currentColor;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  color: white;
  padding: 5px;
}

h1{
  text-align: center;
}

/* TaskList styles */
table{
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Form style */

form{
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px grey;
}
label{
  font-weight: bold;
  margin: 5px;
}

input,select{
  padding: 5px;
}
textarea{
  height: 50px;
}

button{
  background-color: #444;
  color: white;
  margin-top: 5px;
  border-radius: 8px;
  cursor: pointer;
}

/* detail task style */

.detail-container{
  max-width: 500px;
  margin: 50px auto;
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px grey;
}
.linktoDetail{
  cursor: pointer;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* button of modal */
.modal-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;

}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #444;
}

